{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}

<h1 class="jumbotron-heading">About Us</h1>

<p>
    Welcome to Haven Quest, your trusted destination for finding your dream home or property investment opportunity. At Haven Quest, we understand that the search for the perfect property can be an exciting yet daunting journey. That's why we're here to simplify the process and guide you every step of the way.
</p>

<h2 class="jumbotron-heading"> Our Mission </h2>

<p>
    Our mission at Haven Quest is to empower individuals and families to discover their ideal living spaces and investment opportunities with ease and confidence. We strive to provide a seamless and personalized experience, ensuring that each user finds the perfect match tailored to their unique needs and preferences.
</p>

<h3 class="jumbotron-heading"> What we offer</h3>

<ul>
    <li>Property Search: Explore a vast selection of residential and commercial properties, meticulously curated to suit diverse lifestyles and investment goals.</li>

    <li>Book a Visit: Schedule personalized visits to your favorite properties directly through our platform. Experience the ambiance and charm of each space firsthand before making a decision.</li>

    <li>Advertise Your Properties: Are you a property owner or real estate agent? Showcase your listings to our engaged community of buyers and renters. Benefit from our extensive reach and targeted marketing strategies to maximize exposure and attract qualified leads.</li>

</ul>

{% endblock %}